.me{
  margin-top: 40px;
  margin-left: 490px;
}
.me h2{
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #020817;
  font-family: 'Source Sans 3';
}
.me p{
  font-size: 16px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
}