.me {
  padding: 40px 0;
}
.me-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.me h2 {
  margin-top: 10px;
  padding-bottom: 8px;
  font-size: 18px;
  color: #020817;
  font-family: 'Source Sans 3';
  animation: slideTop 0.5s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mb-1 {
  margin-bottom: 4px;
}

.me p {
  width: 400px;
  font-size: 18px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
  animation: slideTop 0.5s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay-300 {
  animation-delay: 0.3s;
}

.mb-1 {
  margin-bottom: 4px;
}

.me h3 {
  width: 400px;
  font-size: 18px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
  animation: slideTop 0.5s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay-600 {
  animation-delay: 0.6s;
}

.mb-1 {
  margin-bottom: 4px;
}

.me h4 {
  width: 400px;
  font-size: 18px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
  animation: slideTop 0.5s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay-900 {
  animation-delay: 0.9s;
}

.mb-1 {
  margin-bottom: 4px;
}

.me h5 {
  width: 400px;
  font-size: 18px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
  animation: slideTop 0.5s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay-1200 {
  animation-delay: 1.2s;
}
@media (max-width: 640px) {
  .me {
    padding: 20px;
  }
  .me {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding-left: 300px;
  }
}
