.me {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  margin-top: 40px;
}
.me h2 {
  margin-top: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  color: #020817;
  font-family: 'Source Sans 3';
}
.me p {
  width: 400px;
  font-size: 16px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
}
.me h3{
  width: 400px;
  font-size: 16px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
}
.me h4{
  width: 400px;
  font-size: 16px;
  color: #020817;
  font-weight: 400;
  font-family: 'Source Sans 3';
}
