.header {
  margin: 20px 0;
}
.container {
  padding: 10px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-name h1 {
  color: #020817;
  font-size: 24px;
  font-weight: 500;
}

.nav-list {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #0f172a;
  padding: 8px 16px;
}

.nav-list a {
  text-decoration: none;
  color: #0f172a;
  font-weight: 400;
  transition: text-decoration 0.3s ease;
  cursor: pointer;
}

.nav-list a:hover {
  text-decoration: underline;
}

.nav-list a.active {
  text-decoration: underline;
}

.footer-content {
  text-align: center;
}
.footer-content h2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #334155;
  font-size: 16px;
  font-family: 'Source Sans 3';
}
@media (max-width: 992px) {
  .container {
    padding: 30px;
  }
}
@media (max-width: 578px) {
  .container {
    padding: 15px;
  }
  .header {
    margin: 10px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .my-name h1 {
    font-size: 16px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
  }

  .footer-content h2 {
    font-size: 18px;
  }
}
