.error-container {
 
}

.error-container h2,
.error-container p,
.error-container a {
  font-size: 16px;
  color: #020817;
  margin: 12px;
  animation: slide-top 0.5s ease-out;
}

.error-container h2 {
  font-size: 48px;
  font-weight: 500;
}

.error-container a {
  color: #f8fafc;
  background-color: #0f172a;
  padding: 8px 16px;
  font-size: 14px;
  margin-left: 15px;
  border-radius: 0.375rem;
}

.error-container img {
  width: 150px;
  object-fit: cover;
  animation: slide-top 0.5s ease-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
