.error-container {
  margin-top: 40px;
  margin-left: 490px;
}

.error-container h2 {
  font-size: 48px;
  font-weight: 500;
  color: #020817;
  margin: 8px;
}
.error-container p {
  margin: 12px;
  font-size: 16px;
  color: #020817;
}

.error-container a {
  color: #f8fafc;
  background-color: #0f172a;
  padding: 8px 16px;
  font-size: 14px;
  margin-left: 15px;
}
